@media screen and (max-width: 767px) {
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .logoContainer {
    max-width: 100px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .logoNavBar {
    max-width: 100%;
    height: auto;
  }

  .iconHamburger {
    color: #002664;
    font-size: 32px;
    cursor: pointer;
  }
  .rightContainer {
    display: none;
  }
  .rightContainerVisible {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
  }
  .responsiveEngCont {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px 0 15px;
  }
  .totalLanguage {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .buttonNavLanguage {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #002664;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .languageContainer {
    background-color: #002664;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 10px 0px;
    border-radius: 3px;
    margin-top: 3px;
    font-size: 13px;
  }
  .iconClose {
    color: #002664;
    cursor: pointer;
  }
  .itemsRight {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    font-size: 16px;
    gap: 8px;
  }
  .servicesArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: 6px;
    cursor: pointer;
  }
  .servicesContainer a {
    text-decoration: none;
  }
  .hidden {
    display: none;
  }

  .serviceOptions {
    list-style: none;
    color: #666;
    font-size: 13px;
  }
  .buttonNav {
    text-decoration: none;
    color: #002664;
  }
  .arrowIcon {
    color: #002664;
    cursor: pointer;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .overlayVisible {
    display: block;
    background: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 16px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logoContainer {
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .logoNavBar {
    max-width: 100%;
    height: auto;
  }

  .iconHamburger {
    color: #002664;
    font-size: 40px;
    cursor: pointer;
  }
  .rightContainer {
    display: none;
  }
  .rightContainerVisible {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .responsiveEngCont {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px 0 15px;
  }
  .totalLanguage {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .buttonNavLanguage {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #002664;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .languageContainer {
    background-color: #002664;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    margin-top: 4px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .iconClose {
    color: #002664;
    font-size: 20px;
    cursor: pointer;
  }
  .itemsRight {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    font-size: 25px;
    gap: 10px;
  }
  .servicesArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: 6px;
    cursor: pointer;
  }
  .servicesContainer a {
    text-decoration: none;
  }
  .hidden {
    display: none;
  }

  .serviceOptions {
    list-style: none;
    color: #666;
    font-size: 16px;
  }
  .buttonNav {
    text-decoration: none;
    color: #002664;
  }
  .arrowIcon {
    color: #002664;
    cursor: pointer;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
  }

  .overlayVisible {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}
@media screen and (min-width: 1023px) {
  .mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 48px;
    background-color: #fff;
    z-index: 1;
    height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logoContainer {
    width: 150px;
    display: flex;
    align-items: center;
  }
  .logoNavBar {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .logoNavBar:hover {
    transform: scale(1.08);
  }

  .rightContainer {
    display: flex;
    align-items: center;
    gap: 1.7vh;
    background-color: #fff;
    box-sizing: border-box;
  }
  .responsiveEngCont {
    order: 2;
  }
  .buttonNav {
    cursor: pointer;
    border: none;
    color: #002664;
    font-size: 15px;
    width: 7rem;
    background-color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .buttonNav::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #002664;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: width 0.3s ease, transform 0.3s ease;
  }
  .buttonNav:hover::before {
    width: 35%;
  }
  .buttonNav:hover {
    color: #0b3880;
    transition: 0.3s;
  }

  .buttonNavLanguage {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1px;
    align-items: center;
    box-sizing: content-box;
    border: none;
    border-radius: 5px;
    padding: 7px 0;
    background-color: #002664;
    color: #fff;
    font-size: 15px;
    outline: none;
    width: 112px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.3s;
  }
  .buttonNavLanguage:hover {
    background-color: #00a9e0;
    transition: 0.3s;
  }
  .languageContainer {
    box-sizing: border-box;
    border-radius: 0.3rem;
    background-color: #002664;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    width: 112px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.3s;
  }
  .languageContainer:hover {
    background-color: #00a9e0;
    transition: 0.3s;
  }
  .itemsRight {
    display: flex;
    gap: 35px;
    order: 1;
    margin: 0 35px;
  }
  .textChangeLanguage {
    width: 3.8rem;
  }

  .iconFlag {
    margin-right: 0.1rem;
  }
  .iconHamburger {
    display: none;
  }
  .iconClose {
    display: none;
  }
  .servicesDrop {
    position: relative;
  }
  .servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.3rem;
    list-style: none;
    position: absolute;
    top: 26px;
    left: -20px;
    width: 180px;
    height: 120px;
    visibility: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    gap: 5px;
  }
  .servicesContainer a {
    text-decoration: none;
  }
  .servicesArrow {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .servicesDrop:hover .servicesContainer {
    visibility: visible;
  }

  .serviceOptions {
    cursor: pointer;
    color: #002664;
    font-size: 1rem;
    padding: 0px 10px 0 20px;
    transition: 0.3s;
  }
  .serviceOptions:hover {
    color: #00a9e0;
    transition: 0.3s;
  }

  .textLanguage {
    cursor: pointer;
  }

  .arrowIcon {
    cursor: pointer;
    color: #002664;
  }
  .overlay {
    display: none;
  }
}
